.header-bar {
	background-color: #33b5e5;
	height: 90px;
}

.logout-dialog {
	padding-right: 20px;
}

.info-bar {
	padding-top: 10px;
	background-color: yellow;
	height: 50px;
	text-align: center;
}

.example-container {
  height: 1000px;
}

.example-sidenav {
  padding: 20px;
  background-color: skyblue;
}

.textbox {
	position: relative;
}

.go-button {
	position: relative;
	top: 5px;
	right: -315px;

}

.toolbar-heading {
	padding-left: 45%;
}