<div class="header-bar">
	<md-sidenav-container class="example-container">

		<md-toolbar #sidenav >
		    <div class="toolbar-icon">
		      <button md-icon-button (click)="sidenav.open()" >
		          <md-icon  >menu
		          </md-icon>
		       </button>
		    </div>

		    <div class="toolbar-heading">
		     Toolbar Heading
		    </div>

		    <div class="logout-dialog">
		    	<div class="icon-ellipsis-vertical">
					<button md-icon-button [mdMenuTriggerFor]="appMenu">
					   <md-icon>more_vert</md-icon>
					</button>
				</div>
				
			    <md-menu #appMenu="mdMenu">
				  <button md-menu-item> Logout </button>
				</md-menu>

			</div>

    	</md-toolbar> 

		<md-sidenav #sidenav class="example-sidenav">
			<button md-menu-item>Item 1</button><br>
	  		<button md-menu-item>Item 2</button>
		</md-sidenav>

	</md-sidenav-container>	
</div>


<br><br>

<div class="info-bar">
	<button md-button>GDB</button>
	<button md-button><i class="fa fa-files-o fa-lg" aria-hidden="true"></i></button>
	<button md-button>SGDB</button>
</div>

<br><br>

<div align="center" class="textbox">
	<md-input-container class="input-field">
	   <textarea mdInput md-autosize minRows="3" placeholder="Input Your Text" name="message"></textarea>
	</md-input-container>
	<br>
	<div class="go-button">
		<button md-button>Go</button>
	</div>
</div>





