.header-bar {
	background-color: #33b5e5;
	height: 90px;
}

.logout-dialog {
	float: right;
}

.info-bar {
	padding-top: 10px;
	background-color: yellow;
	height: 50px;
	text-align: center;
}

.example-container {
  height: 1000px;
}

.example-sidenav {
  padding: 20px;
  background-color: skyblue;
}

.textbox {
	position: relative;
}

.go-button {
	position: relative;
	top: 5px;
	right: -205px;

}

.toolbar-heading {
	padding-left: 45%;
}

.input-field {
	width: 500px;
	height: 100px;
}

.icon-ellipsis-vertical {
	float: right;
	right: 20px;
	top: 15px;
	position: fixed;
	padding-right: -10px;
}